[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "dependencies/span"]
	path = dependencies/span
	url = https://github.com/tcbrindle/span.git
[submodule "dependencies/argparse"]
	path = dependencies/argparse
	url = https://github.com/ndevenish/argparse
    ignore = untracked
